@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #292C34;
}

.header {
  background-color: white;
  padding: 20px;
}

.header h1 {
  color: #24272E;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board {
  margin: 50px auto;
  border: 3px solid green;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  color: green;
  font-size: 46px;
  font-weight: 500;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
}

.badge {
  background: #E2584D;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
}

#user-label {
  position: absolute;
  top: 40px;
  left: -30px;
}

#computer-label {
  position: absolute;
  top: 40px;
  right: -40px;
}

.result {
  margin-top: 40px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.player-choice {
    text-align: center;
}
.computer-choice {
    text-align: center;
}
.result > p {
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}

.choices {
  margin-top: 50px;
  text-align: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #24272E;
}

#action-message {
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 180px;
}

.content1{
    display:grid;
    grid-template-columns: 2fr 1fr;
    color: white;
  }
  .content2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
  }
  .score{
    margin-top:.5em;
    margin-left:2em;
    font-size:1.5em;
    color: white;
  }
  .fa{
    cursor:pointer;
    font-size:5em;
    color: white;
  }

  .selectedWeapon{
    color: green;
  }

  .comp-selected{
    color: red;
  }
  .start-over {
    position: fixed;
    left: 46%;    
    bottom:5%;
    font-size: 18px;
    padding: 10px 15px;
  }

  @media only screen and (max-width : 480px) {
    h3 {
      font-size: 12px;
    }

    .fa{
      cursor:pointer;
      font-size:3em;
      color: white;
    }
    .selectedWeapon{
      color: green;
    }
  
    .comp-selected{
      color: red;
    }

    .result {
      margin-top: 10px;
      font-size: 20px;
      color: white;
      text-align: center;
    }
    .start-over {
      font-size: 12px;
      padding: 5px 10px;
      position: static;
      left: 35%;
      top: 10%;    
      bottom:0%;
    }
    
  }